{% extends 'base.html' %}
{% load staticfiles pages_tags %}

{% block main %}
<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
        {% page_menu "pages/menus/breadcrumb.html" %}
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->

{% block header_page %}
<!-- Start Page Header -->
<div class="page-header">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{% block page_title %}{{ page.title }}{% endblock %}</h1>
    </div>
  </div>
</div>
</div>
<!-- End Page Header -->
{% endblock %}

<!-- Start Content -->
<div class="main" role="main">
<div id="content" class="content full">
    {% block content %}{% endblock %}
</div>
</div>
{% endblock %}