{% extends 'base.html' %}
{% load staticfiles mezzanine_tags pages_tags sidebar_tags keyword_tags %}

{% block meta_title %}{{ page.title }}{% endblock %}

{% block meta_keywords %}
{% metablock %}
{% keywords_for page as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}
{% endblock %}

{% block meta_description %}
{% metablock %}
{{ page.description }}
{% endmetablock %}
{% endblock %}

{% block main %}
<!-- Start Nav Backed Header -->
<div class="nav-backed-header parallax">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
        {% page_menu "pages/menus/breadcrumb.html" %}
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- End Nav Backed Header -->

{% block header_page %}
<!-- Start Page Header -->
<div class="page-header">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{% block page_title %}{{ page.title }}{% endblock %}</h1>
    </div>
  </div>
</div>
</div>
<!-- End Page Header -->
{% endblock %}

<!-- Start Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div class="col-md-9 posts-archive">
                {% block content %}{% endblock %}
                </div>
                {% block sidebar_space %}
                  {% if page.use_right_panel %}
                    {% block sidebar %}
                      {% render_generic_sidebar %}
                    {% endblock %}
                  {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
