
.post-content ul, .post-content ol {
    list-style: disc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.post-content ul li, .post-content ol li {
    padding-left: 0;
    margin-left: 17px;
}

p {
    margin: 15px 0 15px 0;
}

div {
    margin: 10px 0;
}