{% load pages_tags sidebar_tags %}

{% if on_home %}
<li>Inicio</li>
{% else %}
{% if page_branch.count > 0 %}
    {% for page in page_branch %}
        {% if not has_home and page.is_primary and forloop.first %}
        <li>
            <a href="{% url "home" %}">Inicio</a>
        </li>
        {% endif %}

        {% if page.is_current_or_ascendant %}
        {% if page.is_current %}
        <li class="active">
            {% if page.menu_title %} {{ page.menu_title }} {% else %} {{page.title}} {% endif %}
        </li>
        {% else %}
        <li>
            <a href="{{ page.get_absolute_url }}">
            {% if page.menu_title %} {{ page.menu_title }} {% else %} {{page.title}} {% endif %}
            </a>
        </li>
        {% endif %}
        {% if page.has_children %}{% page_menu page %}{% endif %}
        {% endif %}
    {% endfor %}
    {% endif %}
{% endif %}