{% load staticfiles twitter_tags %}

<!-- Start Footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <!-- Start Footer Widgets -->
      <div class="col-md-4 col-sm-4 widget footer-widget">
        <h4 class="footer-widget-title">Acerca de bc.py</h4>
        <img src="{% static 'images/logo-bcpy.png' %}" alt="Logo">
        <div class="spacer-20"></div>
        <p>bc.py es una comunidad abierta de desarrolladores e interesados en las tecnologías que trabajan encima del lenguaje de programación Python.</p>
      </div>
      <div class="col-md-4 col-sm-4 widget footer-widget">
        <h4 class="footer-widget-title">Blogroll</h4>
        <ul>
          <li><a href="{{ HOME_URL }}">Inicio</a></li>
          <li><a href="{% url 'page' 'about-us' %}">Acerca de</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="{% url 'page' 'talks' %}">Chalras / Tallers</a></li>
          <li><a href="{% url 'page' 'courses' %}">Cursos</a></li>
          <li><a href="{% url 'page' 'blog' %}">Nuestro Blog</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-4 widget footer-widget">
        <h4 class="footer-widget-title">@pythnbc en twitter</h4>
        {% include 'twitter/tweets.html' %}
      </div>
    </div>
  </div>
</footer>
<footer class="site-footer-bottom">
  <div class="container">
    <div class="row">
      <div class="copyrights-col-left col-md-6 col-sm-6">
        <p>&copy; 2014 bc.py. All Rights Reserved</p>
      </div>
      <div class="copyrights-col-right col-md-6 col-sm-6">
        <div class="social-icons"> <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a> <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a> <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a> <a href="http://www.pinterest.com/" target="_blank"><i class="fa fa-youtube"></i></a> <a href="#"><i class="fa fa-rss"></i></a> </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> </div>