{% load staticfiles %}

<script src="{% static 'js/jquery-2.0.0.min.js' %}"></script> <!-- Jquery Library Call -->
<script src="{% static 'plugins/prettyphoto/js/prettyphoto.js' %}"></script> <!-- PrettyPhoto Plugin -->
<script src="{% static 'js/helper-plugins.js' %}"></script> <!-- Plugins -->
<script src="{% static 'js/bootstrap.js' %}"></script> <!-- UI -->
<script src="{% static 'js/waypoints.js' %}"></script> <!-- Waypoints -->
<script src="{% static 'plugins/mediaelement/mediaelement-and-player.min.js' %}"></script> <!-- MediaElements -->
<script src="{% static 'js/init.js' %}"></script> <!-- All Scripts -->
<script src="{% static 'plugins/flexslider/js/jquery.flexslider.js' %}"></script> <!-- FlexSlider -->
<script src="{% static 'plugins/countdown/js/jquery.countdown.min.js' %}"></script> <!-- Jquery Timer -->
