{% load staticfiles %}

<!-- Start Site Header -->
<header class="site-header">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-8">
          <h1 class="logo">
            <a href="{{ HOME_URL }}">
              <img src="{% static 'images/logo-bcpy.png' %}" alt="Programando Python en Español">
            </a>
          </h1>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-4">
          <div class="social-icons pull-right hidden-sm hidden-xs">

              <!-- Facebook -->
              <div id="fb-root"></div>
              <div class="fb-like" data-href="https://www.facebook.com/pythonbc" data-send="false" data-layout="button_count" data-width="125" data-show-faces="false" data-font="verdana"></div>

              <!-- Twitter -->
              <a href="https://twitter.com/pythonbc" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false" data-width="130px">Siguenos @PythonBC</a>

              <!-- Google Plus -->
              <div class="g-plusone" data-size="medium" data-href="https://plus.google.com/108667755103461033198"></div>

          </div>
          <a href="#" class="visible-sm visible-xs menu-toggle"><i class="fa fa-bars"></i></a> </div>
      </div>
    </div>
  </div>
  <div class="main-menu-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          {% include 'includes/navbar.html' %}
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End Site Header -->