
<div class="notice-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-6 notice-bar-title"> <span class="notice-bar-title-icon hidden-xs"><i class="fa fa-calendar fa-3x"></i></span> <span class="title-note">Next</span> <strong>Próximo evento</strong> </div>
      <div class="col-md-3 col-sm-6 col-xs-6 notice-bar-event-title">
        <h5><a href="single-event.html">Primera reunión del grupo</a></h5>
        <span class="meta-data">3rd May, 2013</span> </div>
      <div id="counter" class="col-md-4 col-sm-6 col-xs-12 counter" data-date="May 03, 2014">
        <div class="timer-col"> <span id="days"></span> <span class="timer-type">days</span> </div>
        <div class="timer-col"> <span id="hours"></span> <span class="timer-type">hrs</span> </div>
        <div class="timer-col"> <span id="minutes"></span> <span class="timer-type">mins</span> </div>
        <div class="timer-col"> <span id="seconds"></span> <span class="timer-type">secs</span> </div>
      </div>
      <div class="col-md-2 col-sm-6 hidden-xs">
        <a href="{% url 'page' 'events' %}" class="btn btn-primary btn-lg btn-block">Más Eventos</a>
      </div>
    </div>
  </div>
</div>
