from conf.settings import *

DEBUG = True
TEMPLATE_DEBUG = True

# Make these unique, and don't share it with anybody.
SECRET_KEY = "secret-key-1234-change-me"
NEVERCACHE_KEY = "never-cache-key-change-me"

# Twitter app config
TWITTER_APP_KEY = "your-twitter-app-key"
TWITTER_APP_SECRET = "your-twitter-app-secret"

# Data base config
DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.mysql",
        "NAME": "",
        "USER": "",
        "PASSWORD": "",
        "HOST": "",
        "PORT": "",
    }
}

import sys
if 'test' in sys.argv:
    DATABASES['default'] = {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'test.db'
    }
