{% extends 'pages/page.html' %}
{% load staticfiles mezzanine_tags blog_tags keyword_tags sidebar_tags %}

{% block meta_title %}bc.py - Blog{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block content %}

{% for blog_post in blog_posts.object_list %}
<article class="post">
  <div class="row">
    <div class="col-md-4 col-sm-4">
        <a href="{{ blog_post.get_absolute_url }}">
            <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 230 157 %}" alt="" class="img-thumbnail">
        </a>
    </div>
    <div class="col-md-8 col-sm-8">
      <h3><a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a></h3>
      <span class="post-meta meta-data">
        <span><i class="fa fa-calendar"></i> <time>{{ blog_post.publish_date|date:"jS M, Y" }}</time></span>
        <span>
            <a href="{{ blog_post.get_absolute_url }}#comments">
                <i class="fa fa-comment"></i> {{ blog_post.comments_count }}
            </a>
        </span>
      </span>
      <p>{{ blog_post.description_from_content|safe }}</p>
      <p><a href="{{ blog_post.get_absolute_url }}" class="btn btn-primary">Continue reading <i class="fa fa-long-arrow-right"></i></a></p>
    </div>
  </div>
</article>
{% endfor %}

{% pagination_for blog_posts %}

{% endblock %}

{% block sidebar %}
  {% render_blog_sidebar %}
{% endblock %}
