{% extends 'pages/page.html' %}
{% load staticfiles mezzanine_tags comment_tags blog_tags sidebar_tags keyword_tags %}

{% block page_title %}{% endblock %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'css/shCoreDjango.css' %}"/>
{% endblock %}

{% block extra_js %}{{ block.super }}
<script type="text/javascript" src="{% static 'js/shCore.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shBrushPython.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shBrushJScript.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shBrushXml.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shBrushBash.js' %}"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>
{% endblock %}

{% block extra_head %}{{ block.super }}
  <!-- Facebook Metadata -->
  <meta property="og:title" content="{{ blog_post.title }}"/>
  <meta property="og:description" content='{{ blog_post.content|striptags|truncatewords:30 }}'/>
  <meta property="og:url" content="{{ HOME_URL }}{{ blog_post.get_absolute_url }}"/>
  <meta property="og:image" content="{{ HOME_URL }}{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 200 200 %}"/>

  <!-- Google+ Metadata /-->
  <meta itemprop="name" content="{{ blog_post.title }}">
  <meta itemprop="description" content='{{ blog_post.content|striptags|truncatewords:30 }}'>
  <meta itemprop="image" content="{{ HOME_URL }}{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 200 200 %}">
{% endblock %}

{% block content %}
<header class="single-post-header clearfix">
  <div class="pull-right post-comments-count"> <a href="#comments"><i class="fa fa-comment"></i> {{ blog_post.comments_count }}</a> </div>
  <h2 class="post-title">{{ blog_post.title }}</h2>
</header>

<article class="post-content">
    <span class="post-meta meta-data">
        <span> <i class="fa fa-calendar"></i>
            Publicado en <time>{{ blog_post.publish_date|date:"jS M, Y" }}</time>
        </span>
    </span>
    <div class="featured-image">
        <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 750 400 %}" alt=""></div>
        {% block blog_post_list_post_content %}
          {{ blog_post.content|safe }}
        {% endblock %}

        {% with blog_post.user as author %}
        <blockquote>
          <a href="{{ author.google_plus }}?rel=author" rel="author" target="_blank" class="author"><img src="{{ MEDIA_URL }}{% thumbnail author.photo 60 60 %}"></a>
          <i>{{ author.get_full_name|default:author.username }}&nbsp;-&nbsp;{{ author.biography }}</i>
        </blockquote>
        {% endwith %}

        <div class="post-meta">
            <i class="fa fa-tags"></i>
            <a href="#">Faith</a>, <a href="#">Heart</a>,<a href="#">Love</a>,<a href="#">Praise</a>,<a href="#">Sin</a>,<a href="#">Soul</a>
        </div>
</article>

{% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}

{% endblock %}

{% block sidebar %}
  {% render_blog_sidebar %}
{% endblock %}
