{% extends 'pages/page.html' %}
{% load staticfiles mezzanine_tags comment_tags blog_tags sidebar_tags keyword_tags %}

{% block page_title %}{% endblock %}

{% block meta_title %}{{ blog_post.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for blog_post as tags %}
{% for tag in tags %}{% if not forloop.first %}, {% endif %}{{ tag }}{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ blog_post.description }}
{% endmetablock %}{% endblock %}

{% block extra_css %}{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static 'css/blog-custom.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/shCoreDjango.css' %}"/>
{% endblock %}

{% block extra_js %}{{ block.super }}
<script type="text/javascript" src="{% static 'js/shCore.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shBrushPython.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shBrushJScript.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shBrushXml.js' %}"></script>
<script type="text/javascript" src="{% static 'js/shBrushBash.js' %}"></script>
<script type="text/javascript">
SyntaxHighlighter.all();
</script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
  stLight.options({publisher: "abd9a9e3-9298-4191-a1e7-1059c4dd1de7", doNotHash: false, doNotCopy: false, hashAddressBar: false});
</script>
{% endblock %}

{% block extra_head %}{{ block.super }}
  <meta property="og:title" content="{{ blog_post.title }}"/>
  <meta property="og:description" content='{{ blog_post.content|striptags|truncatewords:30 }}'/>
  <meta property="og:url" content="{{ HOME_URL }}{{ blog_post.get_absolute_url }}"/>
  <meta property="og:image" content="{{ HOME_URL }}{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 200 200 %}"/>
{% endblock %}

{% block content %}
<header class="single-post-header clearfix">
  <div class="pull-right post-comments-count"> <a href="#comments"><i class="fa fa-comment"></i> {{ blog_post.comments_count }}</a> </div>
  <h2 class="post-title">{{ blog_post.title }}</h2>
</header>

<article class="post-content">
    <span class="post-meta meta-data">
        <span> <i class="fa fa-calendar"></i>
            Publicado en <time>{{ blog_post.publish_date|date:"jS M, Y" }}</time>
        </span>
    </span>

    <div class="featured-image">
      <img src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 750 400 %}" alt="">
    </div>

    {# Social buttons #}
    <div>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
      <span class='st_linkedin_large' displayText='LinkedIn'></span>
    </div>

        {% block blog_post_list_post_content %}
          {{ blog_post.content|safe }}
        {% endblock %}

        {% with blog_post.user as author %}
        <blockquote>
          <a href="{{ author.google_plus }}?rel=author" rel="author" target="_blank" class="author"><img src="{{ MEDIA_URL }}{% thumbnail author.photo 60 60 %}"></a>
          <i>{{ author.get_full_name|default:author.username }}&nbsp;-&nbsp;{{ author.biography }}</i>
        </blockquote>
        {% endwith %}

        {% keywords_for blog_post as tags %}
        {% if tags %}
        <div class="post-meta">
          <i class="fa fa-tags"></i>
          {% for tag in tags %}
          <a href="{% url 'blog_post_list_tag' tag.slug %}">{{ tag }}</a>
          {% endfor %}
        </div>
        {% else %}
        <hr>
        {% endif %}
</article>

{% if blog_post.allow_comments %}{% comments_for blog_post %}{% endif %}
{% endblock %}

{% block sidebar %}
  {% render_blog_sidebar %}
{% endblock %}
