
<section class="listing-cont">
  <ul>
    {% for event in events %}
    <li class="item event-item">
      <div class="event-date">
        <span class="date">{{ event.start|date:"d" }}</span> <span class="month">{{ event.start|date:"b" }}</span>
      </div>
      <div class="event-detail">
        <h4><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h4>
        <span class="event-dayntime meta-data">
          {{ event.start|date:"l" }} | {{ event.start|date:'f A' }}
        </span>
      </div>
      <div class="to-event-url">
        <div><a href="{{ event.get_absolute_url }}" class="btn btn-default btn-sm">Detalles</a></div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>